<!--ベーステンプレートを適用する-->
{% extends 'base.html' %}
<!--ヘッダー情報のページタイトルを設定する-->
{% block title %}My Ball Gallery{% endblock %}

    {% block contents %}

    <!--タイトルテンプレートの組み込み-->
    {% include "photos_title.html" %}
    <div style="display: flex; justify-content: space-between;">
        <ul style="list-style: none; display: flex;">
            <li style="margin-right: 10px;"><a href="{% url 'photo:index' %}" class="text-black" style="background-color: white; padding: 5px 10px; border-radius: 5px;">新しい順</a></li>
            <li style="margin-right: 10px;"><a href="{% url 'photo:asc' %}" class="text-black" style="background-color: white; padding: 5px 10px; border-radius: 5px;">古い順</a></li>
            <li><a href="{% url 'photo:nice_desc' %}" class="text-black" style="background-color: white; padding: 5px 10px; border-radius: 5px;">ストライク順</a></li>
        </ul>
        <!--検索ボタン-->
        <form action="{% url 'photo:result_list' %}" method="get" style="text-align:right;">
            <input name="query" value="{{ request.GET.query }}" type="text" />
            <button type="submit" class="btn btn-primary my-2 btn-sm">検索する</button>
        </form>
    </div>

    <!--投稿一覧のテンプレートの組み込み-->
    {% include "photos_list.html " %}

    <!--ページネーションの組み込み-->
    {% include "pagination.html" %}

    {% endblock %}

    <!--追加0613-->
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My App</title>
    </head>
    <body>  
        {% if user.is_authenticated %}        
            <button id="like-button">いいね！</button>    
        {% endif %}  
        <script>
            // ログインしているユーザーのみがいいねボタンをクリックできるようにする
            {% if user.is_authenticated %}
                document.getElementById('like-button').addEventListener('click', function() {
                    // いいねボタンがクリックされた時の処理
                    alert('いいねしました！');
                });
            {% endif %}
        </script>
    </body>
    </html>
     