<!--ベーステンプレートを適用する-->
{% extends 'base.html' %}

<!--ヘッダー情報のページタイトルを設定する-->
{% block title %}Mypage{% endblock %}

    {% block contents %}

    <!--タイトルテンプレートは組み込まない-->

    <!--ユーザの投稿件数を表示-->
    {% if user.is_authenticated %}
        <br>
        <div style="text-align:center">
            <h4>{{ user.username}}さんのマイページ</h4>
            {% if object_list.count == 0 %}
                <h6>{{ user.username}}さんの投稿はありません</h6>
            {% else %}
                <h6>投稿<strong>{{ object_list.count }}</strong>件</h6>
            {% endif %}
            <a href="{% url 'photo:post' %}" class="btn btn-primary my-2">投稿する</a>
        </div>
        <hr>
    {% endif %}

    <!--投稿一覧テンプレートの組み込み-->
    {% include "photos_list.html" %}

    <!--ページネーションの組み込み-->
    {% include "pagination.html" %}
     {% endblock %}