<!--ここまで削除-->


<!--div class='album py-5 bg-light'>から４個連続の</div>までを残す-->
  <div class="album py-5 bg-light">
    <!--Bootstrapのグリッドシステムを適用-->
    <div class="container">
      <div style="display: flex; justify-content: space-between;">
        <ul style="list-style: none; display: flex;">
            <li style="margin-right: 10px;"><a href="{% url 'photo:index' %}" class="text-black">新しい順</a></li>
            <li style="margin-right: 10px;"><a href="{% url 'photo:asc' %}" class="text-black">古い順</a></li>
            <li><a href="{% url 'photo:nice_desc' %}" class="text-black">ストライク順</a></li>
        </ul>
        <!--検索ボタン-->
        <form action="{% url 'photo:result_list' %}" method="get" style="text-align:right;">
            <input name="query" value="{{ request.GET.query }}" type="text" />
            <button type="submit" class="btn btn-primary my-2 btn-sm">検索する</button>
        </form>
      </div>

      <!--行要素を配置-->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!--レコードが格納されたobject_listからレコードを１行ずつ取り出す-->
        {% for record in object_list %}
        <!--列要素を配置-->
        <div class="col">
          <div class="card shadow-sm">
            <!--svgタグをimgに変更src属性を追加して1参目のイメージURLを設定-->
            <!--height 225→autoに変更-->
            <a href="{% url 'photo:photo_detail' record.pk %}">
              <img src="{{ record.image1.url }}"
                class="bd-placeholder-img card-img-top"
                width="100%" height="440"
                xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false">
            </a>
             <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
             <!--<text>~</text>を削除-->
            </img>
            <!--タイトルとボタンを出力するブロック-->
            <div class="card-body">
              <p class="card-text">
                <!--タイトルフィールドを出力-->
                {{record.title}}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!--詳細ページを表示するボタン-->
                  <button type="button" class="btn btn-sm btn-outline-secondary"
                  onclick="location.href='{% url 'photo:photo_detail' record.pk %}'">View</button>
                  <!--カテゴリを表示するボタン-->
                  <button type="button"
                  class="text-nowrap btn btn-sm btn-outline-secondary"
                  onclick="location.href='{% url 'photo:photos_cat' category=record.category.id %}'">
                  {{record.category.title}}</button>
                  <button type="button" class="text-nowrap btn btn-sm btn-outline-secondary" 
                  onclick="location.href='{% url 'photo:nice_success' pk=record.pk %}'">
                  {{ record.nice }}ストライク</button>
                </div>
                <!--投稿したユーザー名を出力-->
                <a href="{% url 'photo:user_list' user=record.user.id %}">
                  <small class="text-muted">{{record.user.username}}</small></a>
              </div>
            </div>
          </div>
        </div>
        <!--forブロック終了-->
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</main>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

    </body>
</html>
